PORT=4030
HOST=127.0.0.1
PUBLIC_BASE_URL=https://reader.outbid.sh
EVM_NETWORK=eip155:8453
SVM_NETWORK=solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp
FACILITATOR_URL=https://facilitator.payai.network
EVM_ADDRESS=
SVM_ADDRESS=
